*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image:('car-headlight-4k-ultra-iphone-wrhcc89mmgs35fsb.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin-left: 65%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul a{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul a {
    text-decoration: none;
    color:cornsilk;
    text-transform: uppercase;
}
.navbar ul a::after{
     content: '';
     height: 3px;
     width: 0;
     background: darkslateblue;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
}
.navbar ul a:hover::after{
    width: 100%;
}
      

.content{
    width: 100%;
    position: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:cornsilk ;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

