body {
			background-image:https://pin.it/5gaieiz6i("C:\Users\bida23-079\Downloads\BMW Headlights Dark Series Wallpapers.jpg")
			background-size: cover;
			background-position: center;
			background-repeat:repeat;
		}

